@charset "UTF-8";

table.pathView {
	> tbody > tr {
		.keyField {
			position: relative;
			cursor: default;

			> .tips {
				border: 1px solid rgba(#FFF, 0.8);
				pointer-events: none;
				display: none;
				position: absolute;
				top: 0;
				left: 100%;
				padding: 2px 10px;
				margin-left: 1px;
				background: rgba(#000, 0.9);
				color: #FFF;
				font-weight: normal;
				z-index: 2;
			}

			&:hover {
				> .tips {
					display: block;
				}
			}
		}

		td.valueField {
			padding: 0;
		}
	}
}
