@charset "UTF-8";
@import "../../style/common";

.tabs {
	display: flex;
	flex-flow: column nowrap;
	box-shadow: 0 1px 3px $panelShadowColor;

	> .header {
		margin: 0;
		padding: 0;
		list-style: none;
		border: 1px solid $panelBorderColor;
		border-bottom: 0;

		flex-grow: 0;

		> li {
			display: inline-block;
			margin-left: 2px;

			> a {
				color: darken($fontColor, 30%);
				padding: 5px 20px;
				display: inline-block;
			}

			&:first-child {
				margin-left: 0;
			}

			&.active {
				> a {
					position: relative;
					padding: 5px 19px;
					border-left: 1px solid $panelBorderColor;
					border-right: 1px solid $panelBorderColor;
					border-bottom: 1px solid green;
					background: $panelColor;
					color: $fontColor;

					&:after {
						content: '';
						position: absolute;
						height: 1px;
						left: 0px;
						right: 0px;
						bottom: -1px;
						background: $panelColor;
						z-index: 2;
					}
				}

				&:first-child {
					> a {
						border-left-color: $panelColor;

						&:after {
							left: -1px;
						}
					}
				}
			}

			&:hover {
				> a {
					color: $fontColor;
				}
			}
		}
	}

	> .content {
		position: relative;
		flex-grow: 1;

		> .content-wrap {
			border: 1px solid $panelBorderColor;
			background: $panelColor;
			position: absolute;
			padding: 5px;
			top: -1px;
			bottom: 0;
			width: 100%;
			z-index: 0;
		}
	}
}
