@import "../../style/common.scss";

.content {
	width: 800px;
	margin: 15px auto 0 auto;

	h1 {
		margin: 0 0 10px 0;
		padding: 0;
	}

	.open-group {
		button {
			margin-left: 10px;
		}
	}

	.historyList {
		font-size: 20px;

		li {
			list-style: none;
			line-height: 150%;

			button {
				color: darken($fontColor, 20%);

				&:first-child {
					padding-right: 10px;
					border-right: 1px solid $panelBorderColor;
					margin-right: 10px;
				}

				&:hover {
					color: $fontColor;
				}
			}
		}
	}
}
