@charset "UTF-8";
@import "../../style/common";

.input {
	position: relative;

	> input {
		border-radius: 0;
		border: 0;
		padding: 0 5px;
		height: 25px;
		background: darken($panelColor, 10%);
		box-shadow: 1px 1px 0px darken($panelColor, 15%) inset;

		&:hover,
		&:active {
			background: darken($panelColor, 5%);
		}
	}

	> .typeAhead-list {
		position: absolute;
		min-width: 100%;
		top: 100%;
		left: 0;
		list-style: none;
		margin: 0;
		padding: 0;
		background: rgba(#000, 0.8);
		z-index: 10;

		> li {
			padding: 8px 15px;
			cursor: default;

			&:hover,
			&.active {
				background: rgba(#333, 0.8);
			}
		}
	}
}
