$backgroundColor: #272727;
$fontColor: #ffffff;
$activeColor: #3b3b3b;

$panelColor: #535353;
$panelShadowColor: rgba(0,0,0,0.7);
$panelBorderColor: #3a3a3a;
$panelLightColor: #5c5c5c;

$inputBorderColor: #373737;
$inputBackgroundColor: #393939;
$inputLightColor: #5d5d5d;

$primary: #3c8dbc;
