$gridMargin: 3px;

$borderRadius: 3px;
$inputBorderRadius: $borderRadius;

$mainColor: #333333;

$backgroundColor: darken($mainColor, 2%);

$fontColor: lighten($mainColor, 70%);
$fontFocusColor: lighten($mainColor, 80%);

$panelColor: $mainColor;
$panelBorderColor: lighten($mainColor, 5%);
$panelShadowColor: darken($panelColor, 15%);

$inputColor: lighten($mainColor, 15%);
$inputHoverColor: lighten($inputColor, 3%);
$inputFocusColor: lighten($inputColor, 8%);
$inputBorderColor: darken($mainColor, 7%);
$inputShadowColor: darken($inputColor, 15%);

$buttonColor: lighten($mainColor, 10%);
$buttonFocusColor: lighten($mainColor, 15%);
$buttonActiveColor: lighten($mainColor, 5%);
$buttonBorderColor: darken($mainColor, 7%);
