@import "./common.scss";

html, body {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	background: $backgroundColor;
	color: $fontColor;
	position: relative;
}

body,
p,
input,
button,
textarea {
	line-height: 150%;
	font-size: 16px;
	font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

div {
	box-sizing: border-box;
}

a,
.link {
	text-decoration: none;
	border: 0;
	background: transparent;
	color: $fontColor;
	outline: none;
	cursor: pointer;

	&:hover {
		color: $fontFocusColor;
	}
}

p {
	margin: 5px 0 10px 0;
}

input,
select,
textarea {
	border-radius: $inputBorderRadius;
	border: 1px solid $inputBorderColor;
	outline: none;
	padding: 7px 10px;
	width: 100%;
	box-sizing: border-box;
	background: $inputColor;
	color: $fontColor;
	box-shadow: 1px 1px 1px $inputShadowColor inset;
	transition: 0.2s ease-in background;

	&:hover {
		background-color: $inputHoverColor;
	}

	&:focus {
		background-color: $inputFocusColor;
	}
}

button {
	outline: none;
	cursor: pointer;
}

ul {
	margin: 0 0 10px 0;
}

.input-group {
	display: flex;
}

.btn {
	border-radius: $inputBorderRadius;
	border: 1px solid $buttonBorderColor;
	background: $buttonColor;
	color: #FFF;
	padding: 7px 15px;
	white-space: nowrap;

	&:hover {
		background: $buttonFocusColor;
	}

	&:active {
		background: $buttonActiveColor;
	}
}

// Panel
.panel {
	border: 1px solid $panelBorderColor;
	box-shadow: 0 1px 3px $panelShadowColor;
	text-shadow: 1px 1px 0 $panelBorderColor;
	background: $panelColor;

	&.with-padding {
		padding: 10px;
	}
}

// Table
.table {
	width: 100%;
	max-width: 100%;
	text-align: left;
	border-collapse: collapse !important;

	&.table-bordered {
		> thead,
		> tbody {
			> tr {
				> th, > td {
					border: 1px solid $panelBorderColor;
					padding: 3px 5px;
					line-height: 120%;
				}

				&.grid {
					> th, > td {
						border: 0;
						padding: 0;
						line-height: 0;
					}
				}
			}
		}
	}
}

// Scroll bar
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track-piece {
	background-color: darken($mainColor, 10%);
}
::-webkit-scrollbar-thumb {
	background-color: lighten($mainColor, 10%);
}

// Grid
.row {
	margin-left: -$gridMargin;

	&:before,
	&:after {
		display: table;
		content: '';
	}
	&:after {
		clear: both;
	}

	&.fixed {
		height: 100%;
		overflow-y: hidden;

		@for $i from 1 to 12 {
			> .col-md-#{$i} {
				height: 100%;
				overflow: auto;

				> div {
					height: 100%;
					overflow: auto;
				}
			}
		}
	}

	@for $i from 1 to 12 {
		> .col-md-#{$i} {
			width: $i * 100% / 12;
			padding-left: $gridMargin;
			float: left;
		}
	}
}

// Text
.text-no-break {
	white-space: nowrap;
}

// Misc
.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}

#root {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
