@import "./common.scss";

body {
	padding: 0;
	margin: 0;
}

body,
p,
input,
button,
textarea {
	line-height: 150%;
	font-size: 16px;
	font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a,
.link {
	text-decoration: none;
	border: 0;
	background: transparent;
	padding: inherit;
	margin: inherit;
	color: $primary;
	outline: none;
	cursor: pointer;
}

p {
	margin: 5px 0 10px 0;
}

input,
select,
textarea {
	border: 1px solid #666;
	outline: none;
	padding: 7px 10px;
	width: 100%;
	box-sizing: border-box;

	&:focus {
		border-color: #333;
		box-shadow: 0 0 3px rgba(0,0,0,0.5);
	}
}

button {
	outline: none;
}

ul {
	margin: 0 0 10px 0;
}

.input-group {
	display: flex;
}

.btn {
	border: 1px solid #666;
	background: #666;
	color: #FFF;
	padding: 7px 15px;
	white-space: nowrap;

	&:hover {
		opacity: 0.9;
	}

	&:active {
		border: 1px solid #333;
		background: #333;
	}
}
