body {
	padding: 0;
	margin: 0;
}

body,
p,
input,
button,
textarea {
	font-size: 16px;
	font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	outline: none;
}

p {
	margin: 0 0 10px 0;
}

input,
select,
textarea {
	border: 1px solid #666;
	outline: none;
	padding: 7px 10px;
	width: 100%;
	box-sizing: border-box;

	&:focus {
		border-color: #333;
	}
}

.input-group {
	display: flex;
}

.btn {
	border: 1px solid #666;
	background: #666;
	color: #FFF;
	padding: 7px 15px;
	white-space: nowrap;
	outline: none;

	&:hover {
		opacity: 0.9;
	}

	&:active {
		border: 1px solid #333;
		background: #333;
	}
}
