@import "../../style/common.scss";

.header {
	line-height: 100%;

	a {
		display: inline-block;
		padding: 10px 10px;

		&:hover {
			background: lighten($panelColor, 3%);
		}

		&[disabled] {
			opacity: 0.3;
			pointer-events: none;
		}
	}

	.title {
		border-right: 1px solid $panelBorderColor;
	}

	.nav {
		margin: 0;
		padding: 0;
		display: inline-block;

		li {
			display: inline-block;
		}

		&.tool {
			float: right;
		}
	}
}
