@import "../../style/common";

$avatarBackgroundColor: $panelColor;
$avatarHoverBackgroundColor: lighten($panelColor, 5%);
$avatarSelectedBackgroundColor: lighten($panelColor, 10%);
$sideDes: 5px;

@mixin headerBlock {
	content: '';
	position: absolute;
	display: block;
	left: -1px;
	right: -1px;
	height: 4px;
	z-index: 1;
	background: lighten($panelBorderColor, 20%);
}

.avatar {
	line-height: 100%;

	> .header {
		position: relative;
		border: 1px solid darken($panelBorderColor, 20%);
		overflow: visible;
		padding: $sideDes;
		background: $avatarBackgroundColor;
		transition: background 0.2s ease-out;
		cursor: pointer;
		min-height: 52px;

		.icon {
			float: left;
			width: 40px;
			height: 40px;
			background: darken($panelColor, 5%);
			margin-right: $sideDes;

			:global {
				.fa {
					margin: 5px 0 0 6px;
					font-size: 30px;
				}
			}
		}

		.info {
			color: $fontColor;

			.title, .comment {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				line-height: 110%;
			}

			.title {
				margin: 0;
				padding: 0 0 0 0;
				font-weight: normal;
			}

			.comment {
				padding: 2px 0 0 0;
				margin: 0;
				color: darken($fontColor, 20%);
			}
		}
	}

	> .list {
		margin: 0 0 0 20px;
		padding: 5px;
		border-left: 5px solid $panelBorderColor;
		background: darken($avatarBackgroundColor, 5%);

		.tips {
			color: darken($fontColor, 20%);

			:global(.fa) {
				margin-right: 5px;
			}
		}
	}

	&.hover-top {
		> .header:after {
			@include headerBlock;
			top: -3px;
		}
	}
	&.hover-bottom {
		> .header:after {
			@include headerBlock;
			bottom: -3px;
		}
	}

	&.noHeader {
		> .list {
			margin: 0;
			padding: 0;
			border-left: 0;
		}
	}

	&:hover {
		> .header {
			background: $avatarHoverBackgroundColor;
		}
	}

	&.selected {
		> .header {
			background: $avatarSelectedBackgroundColor;
		}
	}
}
