@charset "UTF-8";
@import "../../style/common";

.multi-input {
	margin: 0 0 0 1px;
	padding: 0 0 0 2px;
	list-style: none;
	line-height: 100%;
	cursor: pointer;

	> li {
		font-size: 12px;
		line-height: 100%;
		display: inline-block;
		margin-left: 5px;

		&.label {
			padding: 2px 8px;
			border-radius: 3px;
			background: lighten($panelColor, 10%);
		}
	}
}

.multi-panel {
	margin: 0 -5px 0 -5px;
	padding: 0;
	list-style: none;

	> li {
		display: inline-block;
		margin: 0 0 10px 0;
		padding: 0 5px;
		width: 33.33%;

		> a {
			position: relative;
			color: darken($fontColor, 30%);
			display: inline-block;
			width: 100%;
			border: 2px solid $panelBorderColor;
			border-radius: 5px;
			padding: 5px;

			h3, p {
				margin: 0;
				padding: 0;
				line-height: 100%;
			}

			p {
				font-size: 10px;
				margin-bottom: 5px;
			}

			h3 {
				font-size: 14px;
			}

			&.recommend:after {
				font-family: FontAwesome;
				content: "\f006";
				position: absolute;
				bottom: 0px;
				right: 6px;
				font-size: 10px;
			}
		}

		&.active {
			> a {
				border-color: $fontColor;
				color: $fontColor;
				background: lighten($panelColor, 10%);

				&.recommend:after {
					content: "\f005";
				}
			}
		}
	}

	@media (min-width: 860px) {
		> li {
			width: 25%;
		}
	}

	@media (min-width: 1020px) {
		> li {
			width: 20%;
		}
	}
}
